<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre em contato comigo!</title>
</head>
<body>
    <header style="display: flex;">
        <!--aqui começa meu logo-->
        <section>
            <br>
        <img src="perfil.jfif" alt="Foto de Perfil" height="50px" width="50px">
        </section>
        <!--Navegação (menu)-->
        <nave> 
          <br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<a href="mysite.html">Sobre Joy </a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="entreterimento.html">entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="música.html">Música</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="contato.html">entre em contato!</a>
         </nave>
      </header>
      <article>
        <form action="#">
            <br><br>
            <label for="Nome">Nome:</label>
            <input type="text" size="50" name="Nome" id="Nome" required><br><br>
            E-mail: 
            <input nome="E-mail" size="50" name="Nome" id="Nome" required><br><br>
            Whatsapp: <input nome="Whatsapp" size="50" name="Whatsapp" id="Whatsapp" required/><br><br>
            Data:<input nome="data de nascimento" size="50" name="data de nascimento" id="data de nascimento" required/><br><br>
            Suas Mensagens: <br>
            <textarea name="mensagem" id="" cols="30" rows="10"></textarea>
            <br><Br>
                <br>

                <input type="submit" value="Enviar"
                <input type="reset" volue="Limpar"
        </form>
    </article>
    <h3>Fale comigo! ;/</h3>

</body>
</html>