<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>entreterimento</title>
</head>
<body>
    entreterimento<header style="display: flex;">
        <!--aqui começa meu logo-->
        <section>
        <img src="perfil.jfif" alt="Foto de Perfil" height="50px" width="50px">
        </section>
        <!--Navegação (menu)-->
        <nave> 
          <br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<a href="mysite.html">Sobre Joy </a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="entreterimento.html">entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="música.html">Música</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="contato.html">entre em contato!</a>
         </nave>
      </header>
      <!--conteudo de entreterimento-->
      <!--exemplo de uso <article>-->
        <article>
            <h3>one Piece</h3>
            <h6>Nível: 5\5</h6>
            <p>
                <img src="perfil2.jfif" alt="one pice e seus personagens" width="50px" height="50px">
            </p>
            <p>
                one Pice é sobre um pirata que estica<br>
                eles  obteram poderes comendo uma fruta<br>
                que te lhe concedeu poderes de borracha.
            </p>
            conheça mais sobre One Píece: &nbsp; <a href="#">leia +</a>
        </article>

<article>
    <h1> Teen Wolf</h1>
    <h5>4/5</h5>
    <P>
        <img src="teen wolf.jfif" alt="Teen wolf"
    </P>
</article>





        <footer>
         
            By KaioGRF &copy;
        </footer>
    
   
    </head>
<body>
</html>