<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Space</title>
  </head>
  <body>
    
    <header style="display: flex;">
      <!--aqui começa meu logo-->
      <section>
      <img src="perfil.jfif.html" alt="Foto de Perfil" height="100px" width="100px">
      </section>
      <!--Navegação (menu)-->
      <nave> 
        <br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;<a href="mysite.html">Sobre Joy </a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="entreterimento.html">entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="música.html">Música</a>&nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="contato.html">entre em contato!</a>
       </nave>
    </header>

    <!--Conteúdo Principal do<!--cabeçalho do sistema--> 
    <main>
      <h1>Welcome to my universe</h1>
      <P>
        Salve, me chamo Kaio Guilherme<br>
        uma so conciencia nossa idade é indefinida
        <br>ninguem precisa saber! Curiosos:v <br>
        Gostamos de tecnologia e de pessoas, animais e de muito money. <br>
        <h3>Coisas sobre mim</h3>
        <!--lista não ordenada-->
        <ul>
            <li>Amo Futbol</li>
            <li>Assistir filmes</li>
                <ul>
                    <li>Teen wolf</li>
                </ul>
             <li>Tenho como pratica:</li>
             <li>Jogar Bola</li>
             <li>Jogar Play</li>
             <li>Amo comer</li>
             <li>Gosto de enfrentar meus desafios</li>
             <li>Gosto de fazer amigos</li>
        </ul>
      </P>
    </main>
    <!--Rodapé-->
    <footer>
        By KaioGRF &copy;
    </footer>
  </body>
</html>
