<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minha playlist</title>
</head>
<body>
    <header style="display: flex;">
        <!--aqui começa meu logo-->
        <section>
        <img src="perfil.jfif.html" alt="Foto de Perfil" height="100px" width="100px">
        </section>
        <!--Navegação (menu)-->
        <nave> 
          <br><br>
          &nbsp;&nbsp;&nbsp;&nbsp;<a href="mysite.html">Sobre Joy </a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="entreterimento.html">entreterimento</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="música.html">Música</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="contato.html">entre em contato!
         </nave>
      </header>

      <!--Seção para minha playlist-->
      <main>
        <h3>top 10 das minhas músicas</h3>
        <ol reversed></ol>
            <li>Rouge - Ragatanga</li>
            <li>Hino do Brasil</li>
            <li>Gustavo Lima - Você</li>
            <li>7 segundos - Rap do Naruto</li>
            <li>hino donRetrô</li>
            <li>Mc xupeta - Bota e aperta</li>
            <li>xuxa - tchutchucão</li>
            <li>Anúncios do youtube</li>
            <li></li>
            <li></li>
        </ol>
      </main>
</body>
</html>
